<!DOCTYPE html>
<html>
  <head>
    <title>Railsbasic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/css/swiper.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/js/swiper.js"></script

  </head>

  <body>
    <div class="font">
      <a href="/">HOME</a>
      <a href="/home/about">ABOUT</a>
      <a href="/blog">BLOG</a>
      <!--고치기-->
      <% if user_signed_in? %>
      <a href="/sessions/destroy">SIGN OUT</a>
      <%=User.find_by(id: session[:user_id]).name%>
      <% else %>
      <a href="/sessions/new">SIGN IN</a>
      <a href="/users/new">SIGN UP</a>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
